body {
  font-family: sans-serif;
	background: #ffc600;
	overscroll-behavior: none;
}

.items-wrapper {
	width: 400px;
	max-width: 80vw;
  margin: 5vh auto;
  background: white;
  border-radius: 5px;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
}

.item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}
.item:last-child {
  border-bottom: 0;
}

input:checked+label {
  background: #F9F9F9;
  text-decoration: line-through;
}

input[type="checkbox"] {
  margin: 20px;
}

label {
  margin: 0;
  padding: 1em;
  transition: background 0.2s;
  flex: 1;
  font-family: 'helvetica neue';
  font-size: 1em;
  font-weight: 200;
	border-left: 1px solid #D1E2FF;
	user-select: none;
}